
:root {
  --white: #FFFFFF;
  --light-gray: #DDDDDD;
  --dark-gray: #111111;
  --gray: hsl(0, 0%, 18%); /* #2c2c2c; */
  --black: hsl(0, 0%, 0%);
}

body {
  background-color: var(--gray);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: monospace;
}

main {
  width: 800px;
  height: 450px;
}
main div {
  margin: 50px;
}

input {
  font-family: monospace;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  border: 1px var(--white) solid;
  padding: 5px;
}
input:focus {
  outline-width: 0;
}

table {
  padding: 0px;
  width: 100%;
  border-spacing: 10px;
}

tr {
  background-color: var(--gray);
  border-radius: 10px;
}

td {
  width: 50%;
  padding: 5px;
}
.no-padding {
  padding: 0;
}

.left {
  text-align: right;
}

.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}

.linethrough {
  text-decoration: line-through;
  opacity: 0.7;
}