
:root {
  --white: #FFFFFF;
  --light-gray: #DDDDDD;
  --gray: hsl(0, 0%, 50%);
  --dark-gray: hsl(0, 0%, 18%);
  --black: hsl(0, 0%, 10%);
  font-size: 1.2rem;
}

body {
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: monospace;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3.5rem;
  position: relative;
}

main {
  width: 100%;
  max-width: 800px;
  position: absolute;
  bottom: 0;
}

input {
  font-family: monospace;
  width: 100%;
  background-color: var(--dark-gray);
  color: var(--white);
  border: 2px var(--gray) solid;
  padding: 8px;
  font-size: inherit;
  border-radius: 0.2rem;
}
input:focus {
  outline-width: 0;
}

table {
  padding: 0px;
  width: 100%;
  border-spacing: 0.6rem;
  font-size: inherit;
}

tr {
  background-color: var(--black);
}

td {
  width: 50%;
  padding: 0.6rem;
  border-radius: 0.1rem;
}
td:first-child {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
td:last-child {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.no-padding {
  padding: 0;
}

.left {
  text-align: right;
}

.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}

.linethrough {
  text-decoration: line-through;
  opacity: 0.7;
}

form {
  margin: 0;
}